/* -------------- m-body -------------- */
.faclt-head,
.faclt-section{
    width: 80%;
    margin: 1rem auto;
}

.faclt-section table{
    width: 100%;
}

.faclt-head{
    text-align: center;
    color: #333333;
}

.faclt-section{
    border: .2rem solid #333333;
    border-radius: 1rem;
}

.faclt-section table tr:nth-child(even){
    background-color: #F2F2F2;
}

.faclt-section table th,
.faclt-section table td{
    font-size: 1rem;
    border: .1rem solid var(--grey-bdr2);
    padding: .6rem;
}

.faclt-section table th{
    background-color: var(--main-clr);
    color: var(--white-clr);
    font-weight: 400;
    cursor: pointer;
    text-align: center;
    transition: .5s;
}